body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --color: #260642;
  --color-lg: #571E88;
  --color-light: #9e54df;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background: rgb(8, 8, 8);
}

.navbar{
  display: grid;
  place-items: center;
  color: var(--color-light);
  text-align: center;
  font-weight: 900;
  margin-top: 100px;
}

.game-wrapper{
  display: grid;
  place-items: center;
}

.game-board{
  border: 5px solid var(--color);
  padding: 10px;
}

.game-board ul{
  padding: 0;
}

.game-board ul li{
  display: inline-block;
  background-color: transparent;
  width: 100px;
  height: 100px;
  margin: 0px 10px;
  perspective: 1000px;
  user-select: none;
  cursor: pointer;
}

.game-board ul li h1{
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-top: 15%;
}

.game-board ul li img{
  width: 100px;
}

.flip-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  z-index: 5;
}

.flip{
  transform: rotateY(180deg);
}

.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.front{
  background-color: var( --color-lg);
}

.back{
  transform: rotateY(180deg);
}
